doctype html
html(lang="en")
	head
		title My Awesome Guestbook
	body
		h1 Messages
		form(method="POST", action="/posts")
			input(type="text", name="message", placeholder="Your message")
		- each post in posts
			li= post.message
