include mixins/post
include mixins/pagination

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title My Awesome Guestbook
		link(rel="stylesheet", href="/css/normalize.css")
		link(rel="stylesheet", href="/css/foundation.min.css")
		link(rel="stylesheet", href="/css/master.css")
	body
		div
			header
				div.row
					div.large-4.large-centered.columns
						h1.page-title Guestbook

				form(class="add-post", method="POST", action="/")
					div.row
						div.large-8.large-offset-2.columns
							textarea(name="message", class="message-input", placeholder="Your message")
					div.row
						div.large-4.large-offset-2.columns
							input(name="author", type="text", class="author-input", placeholder="Author", value=author)
						div.large-2.large-pull-2.columns
							button.button.radius.submit-post Submit
				if (pages > 1)
					div.row.pagination-centered
						ul.pagination.pages: +pagination(current, pages)
			if (posts && posts.length > 0)
				ul.posts
					- each p in posts
						li.posts-item.row: +post(p.author, p.created_at, p.message)
			if (pages > 1)
				div.row.pagination-centered
					ul.pagination.pages: +pagination(current, pages)
