include mixins/post

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title My Awesome Guestbook
	body
		header
			h1 Messages
			form(class="add-post", method="POST", action="/")
				textarea(name="message", class="message", placeholder="Your message")
				input(name="author", class="author", placeholder="Author", value=author)
				button.submit-post Submit
			menu.pages
				- for (var i = 1; i <= pages; i++)
					- var link = "/page/" + i;
					li.pages-item: a(class="page-link", href=link)= i
		ul.posts
			- each p in posts
				li.posts-item: +post(p.author, p.created_at, p.message)
