include mixins/post

doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title My Awesome Guestbook
		link(rel="stylesheet", href="css/normalize.css")
		link(rel="stylesheet", href="css/foundation.min.css")
		link(rel="stylesheet", href="css/master.css")
	body
		div
			header
				div.row
					div.large-4.large-centered.columns
						h1.page-title Messages

				form(class="add-post", method="POST", action="/")
					div.row
						div.large-8.large-offset-2.columns
							textarea(name="message", class="message", placeholder="Your message")
					div.row
						div.large-4.large-offset-2.columns
							input(name="author", type="text", class="author", placeholder="Author", value=author)
						div.large-2.large-pull-2.columns
							button.button.small.submit-post Submit
				menu.row.pages
					- for (var i = 1; i <= pages; i++)
						- var link = "/page/" + i;
						li.pages-item: a(class="page-link", href=link)= i
			article.row
				ul.posts
					- each p in posts
						li.posts-item.row: +post(p.author, p.created_at, p.message)
