mixin pagination(pages)
	each p in pages
		- var className = "pages-item"
		if p.padding
			- className += " unavailable";
			li(class=className) &hellip;
		else
			- var link = "/page/" + p.id;
			- if (p.current) className += " current";
			li(class=className): a(class="page-link", href=link)= p.text
