include time

mixin post(author, date, message)
	article.post
		header.header
			h4
				span.author= author
				+time(date)
		section.message
			- each p in message.split(/(\r\n)\1{1,}/g)
				- if (p.trim().length > 0)
					- var lines = p.split(/\r\n/g);
					p: - each line, i in lines
						- if (line.length > 0)
							= line
						- if (lines.length > i + 1)
							br
