include time

mixin post(author, date, message)
	article.post
		header.header
			h4
				span.author= author
				+time(date)
		section.message
			- msg = message.replace(/(\r\n)\1{1,}/g, '\r\n\r\n');
			p!= msg.replace(/\r\n/g, "<br>")

